html
<<<<<<< HEAD
    title ATN Teenages Hanoi
=======
    title Danny Teenages Hanoi
>>>>>>> 6884d2b254eaae2ca56ac6c74bceda7d1259dde5
    link(rel="stylesheet", href="css/myystyle.css",type ="text/css")
    script(src="/script/myscript.js")
    body
        div
            img(src="/images/image2.jpg", width="200px", height="330px")
<<<<<<< HEAD
            h1 ATN Teenages Hanoi
            ul
                li: a(href="index.jade") Home
=======
            h1 Danny Teenages Hanoi
            ul
                li: a(href="#index.jade") Home
>>>>>>> 6884d2b254eaae2ca56ac6c74bceda7d1259dde5
                li: a(href="category.jade") Category