html
    title ATN Teenages Hanoi
    link(rel="stylesheet", href="css/myystyle.css",type ="text/css")
    script(src="/script/myscript.js")
    body
        div
            img(src="/images/image2.jpg", width="200px", height="330px")
            h1 ATN Teenages Hanoi
            ul
                li: a(href="index.jade") Home
                li: a(href="category.jade") Category