html
    title My index Page
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/script/myscript.js")
    body
        div
            p Login
            input(type="button",onclick="Hi()",value="Click Here")
        div
        h1 Toys for teenages
        img(src="/images/image2.jpg", width="800px", height="400px")
        p. 
            Hanoi Teenages 
            Toys Shop
        ul
            li Toys for ages from 10 to 12
            li Toys for ages from 12 to 14
            li Toys for ages from 14 to 16
        div
            ul
                - for (var i=1; i<=5; i++){
                    li Item #{i}
                - }
            p.redText New Arrived
            
            